<% content_for :title, "PLV - CONECOFOR" %>
<% content_for :head do %>
    <%= stylesheet_link_tag "vem" %>
<% end %>
<div id="vem_wrap">
<h2>PLV</h2>
<p class="desc">Seleziona l'anno per cui vuoi generare il PLV:</p>

<% form_tag({:controller=>'admin/plv', :action => 'show'}) do %>
    <div id="input_mask">
    <p class="input_pi">
      <%= select_tag "anno","<option value ='0'>-Seleziona-</option>" + options_for_select(@anno.collect{|y| [y.anno,y.anno]}) %>
    </p>
    <p class="sub_pi">
      <%= submit_tag 'Genera' %>
    </p>
    </div>
<% end %>
</div>

<h3>Archivio File PLV:</h3>
<div id="archivio">
<ul class="file_list">
  <% for i in 0..@plv_file.size-1 %>
      <li>
        <%= link_to @plv_file.at(i).file_name,@plv_file.at(i).relative_path %>
      </li>
  <% end %>
</ul>
</div>