<table>
  <tbody>
    <tr>
      <td>In/Out</td>
      <td><%= check_box_tag :inout %></td>
    </tr>
    <tr>
      <td>Pri/Est</td>
      <td><%= check_box_tag :priest %></td>
    </tr>
    <tr>
      <td>Codice Strato</td>
      <td><%= check_box_tag :cod_strato %></td>
    </tr>
  </tbody>
</table>