<% if !@ge.blank? %>
    <table class="tgb">
      <thead>
      <tr>
        <th class="gb">Errore</th>
        <th class="gb">N.Import</th>
      </tr>
      </thead>
    </table>
    <div id="ver_scroll_gb">
    <table class="tgb">
      <tbody id="gb_body">
      <% for i in 0..@ge.size-1 %>
          <tr>
            <td class="gb"><%= @ge.at(i).error %></td>
            <td class="gb"><%= @ge.at(i).import_num %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    </div>
<% else %>
    <%= render :partial => "empty_error" %>
<% end %>
