<p>
  Seleziona la campagna:
</p>
<p>
  <%= select_tag "campagna","<option>-Seleziona-</option>".html_safe + options_from_collection_for_select(@camp, "id", "descrizione") %>
  <%= observe_field "campagna", :url => {:controller=>"admin/error_summary", :action=>"update_plot",:update => "select_plot"},:with =>"campagna_selezionata" %>
</p>