<% content_for :title, "Euflora - CONECOFOR" %>
<% content_for :head do %>
    <%= stylesheet_link_tag "euflora" %>
<% end %>

<h2>Euflora</h2>
<p class="desc">
    Quest'interfaccia permette di visualizzare, creare ed editare le specie Europee denominate Euflora.<br />
    E' anche possibile agganciare una specie Specie VS ad una specie Euflora.
</p>

<div id="euflora_list" >
  <%= render :partial => "eu_list"%>
</div>
<%= will_paginate @euflora %>

<%= button_to_remote "+",{:url => { :controller =>"admin/euflora",:action => "new",:page =>params[:page], :update => "new_euflora"}},{:class=>"add_button"} %>

<div id="display_input_errors" style="display:none;">
</div>

<div id="new_euflora" style="display:none;">
</div>
