<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <style type="text/css">
      table{border: 1px solid black;}
      td{text-align: center;border: 1px solid black;}
      th{border: 1px solid black;background-color: #87ceeb;}
  </style>
</head>
<body>

<h1>www.conecofor.com</h1>
<h2>Permesso d'import rimosso</h2>

<p>
  Attenzione il permesso d'import relativo ai rilevamenti <%= @import %> è stato rimosso.<br />
  Contatta al più preso un amministratore.
</p>



</body>
</html>