div#pignatti{
    border: 1px solid #000000;
    float:left;
    width:980px;
    height:200px;
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
}

div.row{
    float:left;
    height:200px;
    border: 1px solid #adff2f;
    clear:left;
}

div.p_attuale{
    float: left;
    border: 1px solid #000000;
    height:200px;
    width:300px;
    display: inline-block;

}

div.evolution{
    float:left;
    border: 1px solid #000000;
    height:200px;
    width:300px;
    display: inline-block;
}

div#euflora{
    border: 1px solid #000000;
    float:left;
    width:980px;
    height:200px;
    overflow-x: scroll;
    overflow-y: scroll;

}

div.e_attuale{
    float:left;
    border: 1px solid #000000;
    height:200px;
    width:300px;
}

div#a_porco{
    clear: both;
}




