h2{
    color: #8b4513;
    font-size: large;
    font-weight: bold;
    margin: 15px 35px 0 35px;
}

h3,h4{
    color: #8b4513;
    font-size: medium;
    font-weight: bold;
    margin:0;
    margin-bottom:7px;
}

p.desc{
    margin: 15px 35px 25px 35px;
}

#input_mask{
    float: left;
    margin: 0 35px 25px 35px;
    border: 1px solid #a1ce14;
    padding: 10px;
    width: 915px;
    background-color: #a7dd39;
}

.input_sp{
    float: left;
    margin: 0;
    margin-right: 65px;
}

.input_comp{
    float: left;
    margin: 0;
    margin-top: 3px;
}

.sub_sp{
    float: right;
    margin: 0;
}

div#pignatti{
    border: 1px solid #a47e19;
    padding: 1px;
    float:left;
    width:998px;
    height:200px;
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
    margin-bottom: 25px;
    background-color: rgba(189, 141, 83, 0.69);
    white-space: nowrap;
}

div.p_attuale{
    display: inline-block;
    padding:10px 20px;
    border: 1px solid #85960c;
    height:130px;
    width:200px;
    border-radius: 10px;
    background-color: #e5ff72;
}

div.evolution{
    padding: 10px 20px;
    border: 1px solid #f59d00;
    margin-left: 1px;
    height:130px;
    width:200px;
    display: inline-block;
    -webkit-border-radius: 5px;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-radius: 5px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-bottomleft: 30px;
    border-radius: 5px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #fffc9e;
}

div.evolution.eu{
    height:150px;
    width: 220px;
}

div#euflora{
    border: 1px solid #a47e19;
    padding: 1px;
    float:left;
    width:998px;
    height:200px;
    overflow-x: scroll;
    overflow-y: scroll;
    margin-bottom: 25px;
    background-color: rgba(189, 141, 83, 0.69);
    white-space: nowrap;
}

div.e_attuale{
    display: inline-block;
    border: 1px solid #85960c;
    height:150px;
    width:220px;
    padding: 10px;
    border-radius: 10px;
    background-color: #e5ff72;
}

div#stop_pr{
    clear: both;
}

.block_state{
    color: #8b4513;
}

#download_file{
    margin: 0 35px 25px 35px;
}

.info{
    margin: 0;
    font-size: xx-small;
}

strong.main{
    color: #f59d00;
}

