h2,h3,h4,h5{
    color: #8b4513;
    font-size: large;
    margin: 0 0 7px 0;
}

div.box_menu{
    padding: 15px;
    border: 2px solid #8cb94d;
    /*border-radius: 25px;*/
    border-top-left-radius:25px;
    border-bottom-right-radius:25px;
    width: 40%;
    margin: 2.5% 0 0 0;
}

div#ril,div#elab{
    float: left;
    margin-left: 5%;
    box-shadow: 0 0px 15px  #888888;
}

div#tab,div#str{
    float: right;
    margin-right: 5%;
    box-shadow: 0 0px 15px  #888888;
}

div#ril,div#tab{
    min-height: 220px;
}

div#ril{
    background-color: #d0ff72;
    /*border: 1px solid #006400;*/
}

div#tab{
    background-color: rgba(192, 198, 1, 0.60);
    /*border: 1px solid #006400;*/

}

div#elab{
    background-color: #fff573;
    /*border: 1px solid #006400;*/
}

div#str{
    background-color: #eaff6a;
    /*border: 1px solid #006400;*/
}

div#page{
    /*border: 1px solid #000000;*/
    min-height: 650px;
}

p#benvenuto {
    margin: 7px 0 0 0;
    font-size: medium;
}

div#benvenuto_container{
    clear: both;
    width: 940px;
    margin:0 30px;
    border: 1px solid transparent;
}


