h2{
    color: #8b4513;
    font-size: large;
    font-weight: bold;
    margin: 15px 35px 0 35px;
}

p.desc{
    margin: 15px 35px;
}

div#view_mask{
    border-radius: 25px;
    padding: 15px;
    margin: 15px 35px;
    border: 1px solid orange;
    background-color: #FFFF8C;
    box-shadow: 0 0px 15px  #888888;
    display: inline-block;
}

p.input{
    float: left;
    margin: 0 35px 0 0;

}

div#tab_content{
    /*border: 1px dotted #ff8c00;*/
    border-top:2px solid orange ;
    border-bottom: 2px solid orange;
    overflow-x: hidden ;
    overflow-y: scroll;
    width:auto;
    height:300px;
    /*background-color: #eee8aa;*/
    background-color: #ffffff;
    margin: 0 35px 35px 35px;
    display: inline-block;
}

ul.list_f{
    margin: 0;
    padding-left: 20px;
}

p.last{
    float: right;
    margin: 0;
}

p#no_ss{
    margin: 25px 35%;
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.76);
    border: 1px solid red;
    color: white;
    display: inline-block;
}

#file_head{
    margin: 25px 35px 0 35px;
}

#file_head tbody tr td{
    width: 185px;
    text-align: center;
    font-weight: bold;
}

#file_content tbody tr td{
    width: 185px;
    font-size: small;
    text-align: center;
}


#file_content tbody tr:hover{
    opacity: 0.93;
}

#file_head tbody tr td.plot,#file_content tbody tr td.plot{
    width: 100px;
}

#file_content tbody tr td.plot{
    background-color: rgba(226, 177, 34, 0.71);
    color: #743a12;
}

#file_head td.plot{
    color: #743a12;
}

#file_head td.plot ~ td{
    color: #70e000;
}

td.red{
    background-color: rgba(255, 38, 33, 0.80);
}
td.green{
    background-color: rgba(146, 242, 41, 0.73);
    color: green;
}

