h2{
    color: #8b4513;
    font-size: large;
    font-weight: bold;
    margin: 15px 35px 0 35px;
}

p.desc{
    margin: 15px 35px 25px 35px;
}

#listspe_list{
    /*border: 1px solid #000000;*/
    margin: 0 35px;
}

table{
    border-collapse: collapse ;
}

th,td{
    width: 200px;
    text-align: center;
}

#ver_scroll{
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #e2ffa0;
    width: 421px;
}

div.pagination{
    padding: 5px;
    background-color: #9fcc12;
}

.prev_page{
    margin-left: 20%;
}

table#body tr:hover{
    background-color: #a7dd39;
}

#t_wrapper{
    background-color: #9fcc12;
    width: 421px;
}

.edit_message{
    border: dashed 1px #38B003;
    color:#38B003;
    padding: 5px;
}

.add_button{
    margin: 5px 35px 15px 35px;
}

#display_input_errors{
    padding: 5px;
    margin: 0 35px 10px 35px;
    border: dashed 1px #F62217;
    color:#F62217;
}

.error_list{
    margin: 0;
    padding-left: 25px;
}

#input_mask{
    margin: 0 35px 15px 35px;
    border: 1px solid #fba101;
    background-color: #feffa8;
    padding: 10px;
    width: 280px;
}

.input_pi{
    margin:0;
    margin-bottom:7px;
    font-weight: bold;
}

.sub_pi{
    margin: 0;
}
