h2{
    color: #8b4513;
    font-size: large;
    margin: 15px 35px 0 35px;
}

p.desc{
    margin: 15px 35px;
}

div#mask_view{
    margin: 15px 35px;
    float: left;
    border: 1px solid #c2c602;
    border-radius: 25px;
    padding: 15px;
    background-color: #eaff6a;
    width: 415px;
    clear: right;
    display: inline-block;
    box-shadow: 0 0px 15px  #888888;
}

div#model_view{
    float: left;
    margin: 0;
}

div#mask_new{
    margin: 15px 35px 15px 0;
    float: right;
    border: 1px solid #fa8500;
    border-radius: 25px;
    padding: 15px;
    background-color: #f9faa1;
    width: 415px;
    box-shadow: 0 0px 15px  #888888;
}

p.comand{
    margin: 0 0 7px 0;
}

p.comand.view,p.comand.button{
    margin-bottom: 0;
}

div#stop{
    clear: both;
    width: 900px;
    height: 2px;
    margin-bottom:10px ;
}

table.view{
    margin: 0;
    border-collapse: collapse;
    font-size: smaller;
}

td{
    text-align: center;
}

tr.body:hover{
    background-color: #f4c525;
}

.del_button{
    margin: 0;
    margin-top: 10px;
}

table.new{
    margin:0;
    border-collapse: collapse;
    font-size: smaller;
}

.nh1{
    width: 70px;
}

.nh2{
    width: 200px;
}

.nh3,.nh4{
    width: 60px;
}

tr.new_body:hover{
    background-color: #f4c525;
}

div.ver_scroll{
    height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom:10px ;
}

table.head{
    margin-top: 20px;
}

.nome{
   float: left;
   margin: 5px 7px 0 0;
}

.butt_new{
    margin-top: 7px;
}