h1{
    font-size: large;
    margin: 0 0 12px 0;
    color:#8b4513;
}

#banner_menu{
    margin-bottom:25px;
}


#instruction_form{
    clear: both;
    border: 2px solid #8eb93a;
    background-color: #e0f59d;
    border-top-right-radius:25px;
    border-bottom-left-radius:25px;
    box-shadow: 0 0px 7px  #888888;
    padding: 15px 20px;
    margin: 25px 35px;
}

.line{
    margin: 0 0 15px 0;
}

.sub_but{
    margin: 0;
}

#alert{
    color: red;
}

div#err_list{
    border: dashed 1px #F62217;
    color:#F62217;
    clear: both;
    padding: 5px 7px;
    margin: 15px 30px;
}

div#err_list ul{
    margin: 0;
    padding-left:25px;
}