#rilev_menu{
    width: 940px;
    height: 398px;
    #border: 1px solid #000000;
    margin:25px 30px 30px 30px;
}

#import_scheda{
    background-color: #D7FF67;
    float: left;
    width: 448px;
    border: 2px solid #8cb94d;
    border-top-right-radius:25px;
    border-bottom-left-radius:25px;
    margin-right: 35px;
    box-shadow: 0 0px 15px  #888888;
}

#import_survey{
    float: left;
    width: 448px;
    border: 2px solid #8cb94d;
    border-top-right-radius:25px;
    border-bottom-left-radius:25px;
    background-color: #BCE954;
    box-shadow: 0 0px 15px  #888888;
}

#data_review{
    float: left;
    width: 935px;
    border: 2px solid #8cb94d;
    border-top-right-radius:25px;
    border-bottom-left-radius:25px;
    margin-top:15px ;
    background-color: #C6D65C;
    box-shadow: 0 0px 15px  #888888;
}

h1,h2,h3{
    font-size: x-large;
    margin: 15px;
}

p.fun_desc{
    margin: 15px;
    font-size: medium;
}

p#benvenuto {
    margin: 15px 0 0 0;
    font-size: medium;
}

div#benvenuto_container{
    clear: both;
    width: 940px;
    margin:0 30px;
    border: 1px solid transparent;
}