h2{
    color: #8b4513;
    font-size: large;
    font-weight: bold;
    margin: 15px 35px 0 35px;
}

p.desc{
    margin: 15px 35px 25px 35px;
}

div#input_mask{
    float: left;
    border: 1px solid #8b4513;
    background-color: #bd8d53;
    padding: 10px;
    margin: 0 0 25px 368px;
    box-shadow: 0 0px 15px  #888888;
}

div#more_filter{
    float: left;
    width: 140px;
}

div#basic_filter{
    float: left;
}

p.comand{
    margin: 0;
    margin-bottom: 7px;
    font-weight: bold;
    color: #8b4513;
}

p.button_command{
    margin: 0;
}

#spe_stat{
    clear: both;
}

p#download{
    margin: 15px 35px;
}

table.simple{
    border-collapse: collapse;
}

table.simple td,table.simple th{
    width: 90px;
    text-align: center;
    font-size: x-small;
}

table.simple td.bigger,table.simple th.bigger{
    width: 170px;
}

table.simple.head{
    margin-left: 139px;
    background-color: #92be12;
}

div#ver_scroll{
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 716px;
    margin-left: 139px;
    background-color: #e0f59d;
}

table.simple.body tr:hover{
    background-color: #b6c980;
}


table.comp{
    border-collapse: collapse;
}

table.comp td,table.comp th{
    width: 80px;
    text-align: center;
    font-size: x-small;
}

table.comp td.bigger,table.comp th.bigger{
    width: 170px;
}

table.comp.head{
    background-color: #92be12;
    width: 982px;
}

table.comp.body{
    width: 982px;
}

div#ver_scroll_comp{
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 998px;
    background-color: #e0f59d;
}

table.comp.body tr:hover{
    background-color: #b6c980;
}

p#no_data{
    margin-left: 32%;
}

