
<%if @campagna_attiva %>
    <p class="subtitle"><strong>Campagna attiva:</strong> <%= @campagna_attiva.descrizione %>
    <%= button_to_remote("Disattiva",:url=>{ :controller => "admin/campagne", :action => "disattiva_campagna"}) %>
    </p>
<% else %>
    <p class="subtitle"><strong>Campagna attiva:</strong> Nessuna campagna attiva.</p>
<% end %>