<% unless @mask_erb.blank? && @mask_legn.blank? && @mask_cops.blank? && @mask_copl.blank? %>
<% unless @mask_cops.blank? %>
    <p class="elenc"><strong>Cops</strong></p>
    <ul class="mask">
      <% for i in 0..@mask_cops.size-1 %>
          <li><%= @mask_cops.at(i).parameter %></li>
      <% end  %>
    </ul>
<% end %>

<% unless @mask_copl.blank? %>
    <p class="elenc"><strong>Copl</strong></p>
    <ul class="mask">
      <% for i in 0..@mask_copl.size-1 %>
          <li><%= @mask_copl.at(i).parameter %></li>
      <% end  %>
    </ul>
<% end %>

<% unless @mask_erb.blank? %>
    <p class="elenc"><strong>Erbacee</strong></p>
    <ul class="mask">
      <% for i in 0..@mask_erb.size-1 %>
          <li><%= @mask_erb.at(i).parameter %></li>
      <% end  %>
    </ul>
<% end %>

<% unless @mask_legn.blank? %>
    <p class="elenc"><strong>Legnose</strong></p>
    <ul class="mask">
      <% for i in 0..@mask_legn.size-1 %>
          <li><%= @mask_legn.at(i).parameter %></li>
      <% end  %>
    </ul>
<% end %>

<% end %>

<% unless @null_mask.blank? %>
    <p class="elenc null">Nessun Campo Obbligatorio.</p>
<% end %>