<% content_for :up_message do %>
    <div id="banner_menu">
      <div class="button">
        <p class="b_link">
          <%= link_to "Home", root_path %>
        </p>
      </div>
      <div class="button">
        <p class="b_link">
          <%= link_to "Contatti", contacts_path%>
        </p>
      </div>
    </div>
<% end %>