<% content_for :up_message do %>
    <div id="banner_menu">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Contatti",contacts_path %></li>
      </ul>
    </div>
<% end %>