<% content_for :title, "Registrazione Rilevatore - CONECOFOR" %>
<% content_for :head do %>
    <%= stylesheet_link_tag "registrazione_rilevatore"%>
<%end%>

<%= render :partial => "logout_banner" %>

<div id="error" style="display: none;">
</div>

<div id="reg">

  <div id="form">
    <%= render :partial => "reg_form", :object => @user %>
  </div>

  <div id="desc">
    <h1>Registrazione Rilevatore</h1>
    <p>
        Compila ed invia i tuoi dati. <strong>Tutti i campi</strong> presenti <strong>sono obbligatori</strong>.<br />
        <strong>Conferma l'indirizzo di posta elettronica indicato ed attendi qualche giorno affinché un amministratore esamini la tua richiesta di registrazione.</strong><br />
        Verrai avvertito tramite e-mail non appena la tua richiesta sarà stata analizzata.<br /><br />
        <strong class="color">Attenzione:</strong> <em>Non potrai accedere allo strumento fino a che la richiesta di registrazione non sarà stata approvata.</em>
    </p>
  </div>

  <div id="disclaimer_alert">
    <p class="alert">
      * Cliccando su "Invia", si accettano i termini e condizioni ed il trattamento dei dati personali, sotto elencate.
    </p>
  </div>

  <div id="disclaimer">
    <p class="null_margin disclaimer">
      <br />
      <strong class="title">Trattamento dei dati personali</strong><br /><br />
      L’accesso al sito è consentito unicamente a quanti, incaricati a diverso titolo o espressamente autorizzati, svolgono il ruolo di rilevatori entro progetti che si riferiscono a raccolte di dati di campagna come quelli sopra indicati.<br />
      Per ottenere l’accesso al sito e svolgere le operazioni dovute e consentite, vengono raccolti temporaneamente soltanto i dati necessari all’identificazione della persona e dei suoi vincoli operativi previsti dai suddetti rapporti di lavoro e ricerca.<br />
      L’utente accetta i termini d’uso e dichiara di essere a conoscenza ed accettare le condizioni dei suddetti vincoli.<br /><br />

      <strong class="title">Termini e condizioni</strong><br /><br />

      <strong>Accesso</strong><br /><br />
      Forniremo all’utente un accesso personalizzato al database in accordo a queste condizioni generali.<br /><br />

      <strong>Obblighi dell’utente</strong><br /><br />
      L'utente si impegna a non utilizzare il database (in tutto o in parte) per scopi illegali e accetta di utilizzarlo in conformità a tutte le leggi in materia e alle condizioni in base alle quali collabora ai progetti implicati. In particolare, accetta di seguire unicamente le procedure e le specifiche tecniche descritte dai progetti ai quali collabora, o contrattualizzate a vario titolo, ivi incluse le norme di riservatezza.<br />
      L'utente si impegna a non inserire o trasmettere attraverso il database ogni tipo di virus, macro, Trojan, worm o qualsiasi software dannoso al fine di interferire, interrompere o disturbare le normali procedure di funzionamento.<br />
      L'utente non utilizzerà il database in modo da causare interruzione del servizio, riduzione dell’efficienza o comprometterne il normale e corretto funzionamento.<br />
      L'utente non utilizzerà il database in modo da violare o infrangere i diritti di qualsiasi persona, azienda o società (tra cui, ma non solo a, diritti di proprietà intellettuale, di riservatezza o privacy).<br />
      L'utente accetta che nel caso debba vantare diritti, rivendicazioni o azioni contro qualsiasi altro utente, che derivino dall’uso del database, dovrà perseguire tali azioni senza alcun nostro coinvolgimento.<br /><br />

      <strong>Indennità</strong><br /><br />
      L'utente riconosce e accetta di essere pienamente responsabile (e, nel caso, di doverci indennizzare pienamente) per tutti i reclami, responsabilità, danni, perdite, costi e spese, incluse le spese legali, da noi subiti e derivanti da qualsiasi violazione delle Condizioni da parte dell'utente o da qualsiasi responsabilità derivante dal utilizzo del database da parte sua o di qualsiasi altra persona che vi acceda utilizzando il computer o l’account di accesso dell’utente stesso.<br /><br />

      <strong>I nostri diritti</strong><br /><br />
      Ci riserviamo il diritto di modificare o ritirare, temporaneamente o permanentemente, il database (o parte di esso) con o senza preavviso e confermiamo che non saremo responsabili nei vostri confronti o di terzi per qualsiasi modifica o la revoca dell’accesso al database.<br />
      Ci riserviamo il diritto di modificare le presenti condizioni ove ritenuto necessario; l'utilizzo del database (o parte di esso) dopo tali modifiche sarà considerato accettazione delle modifiche stesse. È responsabilità dell’utente informarsi sulla eventuale modifica delle condizioni; in caso di disaccordo parziale o totale con le nuove condizioni, l’utente deve immediatamente cessare l’utilizzo del database e contattare il Curatore.<br />
      Useremo ogni ragionevole sforzo per mantenere attivo il database che, comunque, potrà essere soggetto a opportune modifiche.<br />
      L’interruzione del servizio a causa di circostanze fuori dal nostro controllo non potrà esserci imputata in alcun modo, né darà luogo a forme di benefici.<br />
      In caso di interruzione del servizio, l’utente segnalerà tempestivamente il caso al Curatore, anche se l’interruzione non dovesse compromettere i termini di realizzazione del suo operato.<br /><br />

      <strong>Suggerimenti dall’utenza</strong><br /><br />
      Qualsiasi chiarimento o problema relativo all’uso del database nelle sue funzionalità (che non sia ricompreso nella guida all’utente e\o nelle specifiche tecniche relative la progetto cui l’utente partecipa) dovrà essere immediatamente oggetto di comunicazione o richiesta da inoltrare al Curatore e – contemporaneamente – al responsabile del progetto per conto del quale l’utente sta utilizzando il database.<br />
      Accoglieremo positivamente anche qualsiasi domanda su questioni di privacy o sul design del nostro database.<br />
      I contatti da utilizzare sono presenti nell'omonima sezione.<br /><br />

      <strong>Cookies</strong><br /><br />
      L'utilizzo dei cookies è previsto solamente per la funzione ricordami del login.<br /><br />

      <strong>Collegamenti esterni</strong><br /><br />
      Questo sito può fornire link ad altri siti Internet.<br />
      Non siamo responsabili delle funzionalità o dei contenuti di tali siti esterni, né approviamo, giustifichiamo o garantiamo le informazioni e i servizi offerti.<br /><br />
    </p>
  </div>


</div>

<div id="regular"></div>