<% content_for :title, "Contatti - CONECOFOR" %>
<% content_for :head do %>
    <%= stylesheet_link_tag "contatti"%>
<%end%>

<% if logged_in? %>

<h2>Responsabile Progetto</h2>
<p class="line">admin@groundvegetationdb-web.com</p>

<h3>Webmaster</h3>
<p class="line">webmaster@groundvegetationdb-web.com</p>

<% else %>

    <%= render :partial => "users/logout_banner" %>

    <h2>Responsabile Progetto</h2>
    <p class="line">admin@groundvegetationdb-web.com</p>

    <h3>Webmaster</h3>
    <p class="line">webmaster@groundvegetationdb-web.com</p>

<% end %>