<% content_for :title, "Contatti - CONECOFOR" %>
<% content_for :head do %>
    <%= stylesheet_link_tag "contatti"%>
<%end%>

<h2>Responsabile Progetto</h2>
<p class="line">resp.proj@dominio.com</p>

<h3>Responsabile IT</h3>
<p class="line">resp.it@dominio.com</p>