<div id="view_mask">
  <% form_tag(:url => {:action => "show_file"}) do -%>
      <p class="input">
        <strong>Anno Campagna</strong><br />
        <%= select_tag :year,"<option>-Seleziona-</option>"%>
      </p>
      <p class="input">
        <strong><%= label_tag :rilevatore %></strong><br />
        <%= select_tag :rilevatore, "<option>-Seleziona-</option>"%>
      </p>
      <p class="last">
        <%= submit_tag "Mostra File" %>
      </p>

  <% end %>
</div>
