<p>
  <%= label_tag :campo %><br />
  <%= select_tag :field,"<option value = "" >-Seleziona-</option>" + options_for_select({"Copertura" => "copertura","Numero Cespi" => "numero_cespi","Numero Stoloni" => "numero_stoloni","Numero Stoloni Radicanti" =>"numero_stoloni_radicanti","Numero Foglie"=>"numero_foglie","Numero Getti"=>"numero_getti","Numero Individui Funzionali"=>"nif"}) %>
</p>
<table>
  <tbody>
  <tr>
    <td><%= label_tag :specie %></td>
    <td><%= check_box_tag :specie %></td>
  </tr>
  </tbody>
</table>