<p id="w_instr">
  La procedura d'import è stata interrotta a causa della presenza di alcuni Global Errors.<br />
  Nel caso in cui, siano presenti degli errori unitamente ai suddetti, è necessario seguire la procedura descritta
  nella sezione di <%= link_to "descrizioni degli errori", :anchor => "instr" %>. Qualora siano stati riscontrati invece unicamente Gloabal Errors,
  è possibile forzare la procedura d'import.
</p>