<% content_for :title, "Import Completato" %>
<% content_for :head do %>
    <%= stylesheet_link_tag "import_survey" %>
<%end%>

<h1 style="margin: 0 30px 7px 30px;">Termine procedura di import</h1>

<p id="instr">
  L'import del file <%= @file.file_name %> è andato a buon fine.<br />
  Per poter visualizzare i dati appena importati nell'archivio globale,
  è necessario attendere l'approvazione degli stessi da parte di un amministratore
  del sistema.<br />
  In caso di rifiuto di tali dati, verrai contattato al più presto da un amministratore.
</p>