<p id="instr">
  La procedura d'import è stata interrotta a causa della presenza di alcuni errori.<br />
  La preghiamo di controllare il report che riassume tutti gli errori riscontrati e di correggere
  il file che stava importando.<br />
  Una volta eseguite queste operazioni, riprenda la procedura di import dal passo 2.
</p>
