<h1>Finish</h1>
<p>
  L'import del file [nome_file] è andato a buon fine.<br />
  Warning: [Numero warning]<br />
  Error: [Numero errori]<br />
  Forced: [true o false]<br />
  Istruzioni di quello che accadrà
</p>