<% content_for :title, "Riepilogativi Europei - CONECOFOR" %>
<% content_for :head do %>
    <%= stylesheet_link_tag "riepilogativi_europei"%>
<%end%>

<h2>Riepilogativi Europei</h2>
<p class="desc">
  Tramite quest'interfaccia è possibile visionare e generare il file per i Riepilogativi Europei.
</p>

<div id="input_mask">
<% form_remote_tag :url => { :action => 'result', :update => 'eu'} do %>
    <p id="input_comand">
      <%= label_tag :anno %> <%= select_tag :anno , "<option value= '0' >-Seleziona-</option>" + options_from_collection_for_select(@anno,:anno,:anno)  %>
    </p>
    <p id="sub_butt">
      <%= submit_tag "Crea e Visualizza" %>
    </p>
<% end %>
</div>

<div id="eu"></div>
