<p class="input_comp">
  <strong>La creazione del file potrebbe richiedere alcuni minuti:</strong>
</p>
<%= button_to_remote "Crea",{:url=>{:controller=>"admin/evoluzione_specie", :action => "create_complete_xls"}},{:class=>"sub_sp"} %>


