
<div id="istruzioni">
  <h1>Istruzioni</h1>
  <p class="desc">
    Selezionare e caricare il file contenente i dati della rilevazione, che si vogliono importare.<br />
    Ricorda che <strong>l'unico formato accettato è </strong> il <em>'.xls'</em>, e che <strong>il file deve essere compilato rispettando le regole stabilite dal manuale</strong>.<br />
    Prima di caricare il file,<strong> controllare che la campagna attiva corrisponda a quella relativa alla vostra rilevazione</strong> e nel caso non lo fosse, contattare un amministratore.<br />
    Per far si che la procedura d'import vada a buon fine,<strong> è necessario che il file superi tutti i check imposti dall'amministratore</strong>.<br />
    In caso d'errore, il sistema fermerà la procedura d'import e segnalerà <strong>gli errori presenti</strong>, i quali <strong>dovranno essere necessariamente corretti</strong>.<br />
    Effettuate le dovute correzioni sul file, esso dovrà
    essere caricato nuovamente per verificare la presenza di eventuali nuovi errori.<br />
    <strong>Quando il file risulterà essere pulito, il sistema segnalerà il termine della procedura d'import.</strong><br /><br />
    <strong class="subtitle">Nota che:</strong> alcuni errori prestabiliti hanno la possibilità di essere forzati per far si che la procedura giunga al termine senza necessità di correzione.
    <strong>La forzatura deve essere effettuata solamente in situazioni di mancanza ed irreperibilita di dati</strong> per poter procedere.
    All'atto di una forzatura seguirà la notifica della stessa all'amministratore.
  </p>
</div>