<% if @message_notice%>
    <div id="flash_notice">
      <p class="null_margin"><%= @message_notice %></p>
    </div>
<% elsif @message_error %>
    <div id="flash_error">
        <p class="null_margin"><%= @message_error %></p>
    </div>
<% end %>